body{
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    transition: .3s ease all;
}

.formulario__input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 20px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario__checkbox{
    margin-right: 10px;
}
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar{
    grid-column: span 2;
}

.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p{
    margin: 0;
}

.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo{
    display: block;
}
/* ----------- Estilos para Validacion -------------- */
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}

/* ----------- Menu ------------- */
.menu-icon{
    display: none;
    color: white;
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a:hover{
    background: #4a4a4a;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}   

.contenedor{
    width: 90%;
    margin: auto;
}

header{
    background: #141414;
    padding: 30px 0;
}

header .contenedor{
    display: flex;
    justify-content: space-between; /* logo a la izquierda menu a la derecha*/
    align-items: center;
}

header .logotipo{
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    color: #E50914;
    font-size: 40px;
}

header nav a{
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
    transition: all 0.4s linear;
}

header nav a:hover,
header nav a.activo{
    color: #fff;
}

img{
    width: 100%;
}

.navigation ul i{
    padding: 5px;
}
/* ----------- Mediqueries -------------------------- */
@media screen and (max-width: 778px){
    .formulario{
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar{
    grid-column: 1;
    }
    
    .formulario__btn{
        width: 100%;
    }
    header .logotipo{
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    header .contenedor{
        flex-direction: column;
        text-align: center;
    }
    
}

@media screen and (max-width: 480px){
    header .logotipo{
        margin-bottom: 10px;
        font-size: 20px;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
}